@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-background-hover: var(--background-hover);
  --color-foreground: var(--foreground);
  --color-border-theme: var(--border);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

@layer base {
  :root {
    --background: #f9fafb;
    --background-secondary: #ffffff;
    --background-hover: #f3f4f6;
    /* Gray-100 */
    --foreground: #000000;
    --border: #e5e7eb;
  }

  .dark {
    --background: #030712;
    /* Neutral-950 */
    --background-secondary: #111827;
    /* Gray-900 */
    --background-hover: #1f2937;
    /* Gray-800 */
    --foreground: #f9fafb;
    --border: #1f2937;
    /* Gray-800 */
  }
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}